[
  {
    "conn_type": "aws_default",
    "description": "",
    "login": "xxx",
    "password": "xxx",
    "host": "",
    "port": null,
    "schema": "",
    "extra": ""
  },
  {
    "conn_id": "snowflake_default",
    "conn_type": "snowflake",
    "login": "xxx",
    "password": "xxx",
    "account": "xxx",
    "warehouse": "xxx",
    "database": "xxx",
    "schema": "public",
    "description": "",
    "extra": "{\"role\": \"YOUR_ROLE\"}"
  }
]
