{
  "AMI_ID": "ami-xxx",
  "INSTANCE_TYPE": "t3.medium",
  "JENKINS_JOB_NAME": "jedha-lead",
  "JENKINS_TOKEN": "xxx",
  "JENKINS_URL": "https://xxx.app/",
  "JENKINS_USER": "admin",
  "KEY_PAIR_NAME": "jedha-lead-certification-project",
  "KEY_PATH": "/opt/airflow/jedha-lead-certification-project.pem",
  "MLFLOW_EXPERIMENT_ID": 2,
  "MLFLOW_TRACKING_URI": "https://xxx.hf.space/",
  "OPENWEATHERMAP_API": "xxx",
  "S3BucketName": "luciole-bucket",
  "S3Path": "jedha/jedha_lead/",
  "SECURITY_GROUP_ID": "sg-xxx"
}
